*{
    margin: 0%;
    padding: 0%;
    }

/* Styling the Body element i.e. Color,
		Font, Alignment */
		body {
			background-color: rgb(218, 217, 238);
			font-family: Verdana;
			/* text-align: center; */
		}

	
     
.navbar{
	background-color:rgb(2, 2, 2) ;
	border-radius: 3px;
	width: 100%;
}
  
  .navbar li{
	float:right;
	list-style: none; 
	margin: 15px 14px;
  
}
.navbar ul{
	overflow: auto;
}
.navbar li a{
	padding: 3px 3px;
	text-decoration: none;
	color: rgb(255, 227, 212);
	font-weight: bold;
	font-family: sans-serif;
	height: 100%;
}
.navbar li a:hover,
.navbar li a.active {
/* text-decoration: underline; */
color: rgb(241, 174, 97);
}
.navbar img{
	position: absolute;
	margin-top: 0px;
	margin-left: 10px;
	left: 5px;
	top: 6px;
	height: 50px; 
	width:80px;
	/* border: 3px rgb(165, 149, 149); */
	border-radius: 2%;
	filter: invert(100%)
}
.logbtn{
	box-sizing: border-box;
	align-items: center;
	width: 100px;
	height: 35px;
	background-color: rgb(214, 106, 43);
	border-radius: 100px;;
	border: 2px rgb(233, 136, 80);
	color:  rgb(253, 232, 221);
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	cursor: pointer;
	/* margin: 2px 2px; */
	padding-top: 2px;
	padding-bottom: 2px;
	
}
.container {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 8% auto;
	position: absolute;
	top: 25%;
  }
  
  .container td, .container th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .container tr:nth-child(even){background-color: #f2f2f2;}
  
  .container tr:hover {background-color: #ddd;}
  
  .container th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(77, 19, 143);
    color: white;
	
	
  }

  .btn{
      background-color:rgb(77, 19, 143);
      height: 35px;
      width: 90px;
     
     
      /* background-color: rgb(224, 71, 0); */
      border-radius: 5px;
      border: 2px rgb(40, 158, 4);
      color: rgb(247, 247, 247);
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 500;
	  text-align:justify;
      cursor: pointer;
      position: absolute;
      left: 90%;
	  top: 27%;
     
  }
  
  h1{
   
	position: absolute;
	 top:5%;
	
	margin-right: 60px;
 }
		/* Styling the Form (Color, Padding, Shadow) */
		form {
			background-color: rgba(250, 249, 249, 0.938);
			max-width: 500px;
			margin: 90px auto;
			padding: 30px 20px;
			box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
		}

		/* Styling form-control Class */
		.form-control {
			text-align: left;
			margin-bottom: 25px;
			font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 20px;
            font-weight: bolder;
            text-decoration: solid;
            color:  rgba(9, 5, 15, 0.795);
		}

		/* Styling form-control Label */
		.form-control label {
			display: block;
			margin-bottom: 10px;
		}

		/* Styling form-control input,
		select, textarea */
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			padding: 5px;
			display: block;
			width: 95%;
			font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 15px;
			padding:10px;
			margin-top:5px;
			margin-bottom:5px;
			border-radius:5px;
		}

		/* Styling form-control Radio
		button and Checkbox */
		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}
h1{
	text-align: center;
	position: absolute;
	margin-top: 70px;
	left: 500px;
	
}
		/* Styling Button */
		button {
			
			background-color: rgb(77, 19, 143);
			border: 1px solid #777;
			border-radius:5px;
			border:none;
			padding:10px 15px;
			color:#FFF;
			text-shadow:1px 1px 1px #949494;
			margin-left:35px;
			/*margin-top: 0px;*/
			width: 140px;
			height: 35px;
			font-size: 20px;
		   cursor: pointer;  
		}
		.del_btn {
			background-color: rgb(52, 0, 112);
			border: 1px solid #777;
			border-radius:5px;
			border:none;
			padding:10px 15px;
			color:#FFF;
			text-shadow:1px 1px 1px #949494;
			margin-left:35px;
			/*margin-top: 0px;*/
			width: 190px;
			height: 35px;
			font-size: 20px;
		   cursor: pointer;  
		}

		.history_btn {
			background-color: rgb(52, 0, 112);
			border: 1px solid #777;
			border-radius:5px;
			border:none;
			padding:10px 15px;
			color:#FFF;
			text-shadow:1px 1px 1px #949494;
			margin-left:35px;
			/*margin-top: 0px;*/
			width: 250px;
			height: 35px;
			font-size: 20px;
		   cursor: pointer;  
		} 
		#searchbar{
			position: absolute;
            top: 27%;
			left: 4%;
			padding:15px;
			border-radius: 10px;
		  }
		  .Ans-btn{
			width: 300px;
			height: 45px;
			position: absolute;
			top: 27%;
			left: 72%;
			background-color: #5f30aa;
			font-family: inherit;
            font-weight: bolder;
			font-size: 20px;
			padding:10px;
			border: 0px;
			cursor: pointer;  
		}
